/* General Body Styling */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    color: #333;
}

/* Header and Navigation */
header {
    background: #333;
    padding: 10px 0;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.top-nav .menu-icon {
    display: none; /* Hidden for now, unless used for mobile view */
}

.top-nav .search-container {
    flex: 1;
}

.search-container input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search-container button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #ff7e5f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #feb47b;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    margin-right: 20px;
}

.menu li a {
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu li a:hover {
    background-color: #1e4a40;
    color: #fff;
}

/* Dropdown Menu */
.menu li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #898989;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content li a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #2c8d77;
}
/* Hero Section */
.hero {
    text-align: center;
    padding: 0%;
    margin-top: 0px; /* Ensure space between menu and image */
}

.hero-image {
    width: 100%;
    height: 100x;
    max-height: 250px; /* Adjust based on your design */
    object-fit: cover;
}
.hero-text {
    margin-top: 10px;
     /* Ensure text is readable on top of the image */
}

.hero-text h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}
.hero-text p {
    font-size: 1.2em;
    text-align:center;
    padding: 20px;
}
/* About Section */
.about-section {
    display: flex;
    align-items: start;
    justify-content: center; 
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    
     /* Adjust background color as needed */
     /* Optional border for separation */
}

.about-image {
    float:left;
    width: 70%;
    height:fit-content;
    cursor: pointer; /* Indicate that the image is clickable */
    margin-right: 20px; /* Space between image and text */
    border: 5px solid #333; /* Add a border with color and thickness */
    box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.3);
}

.about-content{
    flex:content; /* Text content takes up remaining space */
    display: flex;
    flex-direction: column;
    text-align:start;
    cursor: pointer;
    justify-content:right; /* Center content vertically */
    padding: 20px; /* Padding for the text content */
}

/* Content Text */
.about-content h2 {
    margin-top: 0;
    text-align: left; /* Align text to the left */
}

.about-content p {
    font-size: 20px;
    text-align: left; /* Align text to the left */
    margin: 0; /* Ensure no additional margins */
}
/* Projects Section */
.projects-section {
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 8px; /* Background color */
    /* Optional border */
    box-sizing: border-box; /* Include padding in width */
}

/* Image Styling */
.projects-image {
    width: 70%; /* Image takes up 40% of the section width */
    height: auto;
    cursor: pointer; /* Make it clear the image is clickable */
    margin-left: 30px;
    margin-right: 15px; /* Space between text and image */
    object-fit:contain; 
    float: right;
    border: 5px solid #333; /* Add a border with color and thickness */
    box-shadow: -40px 30px 20px rgba(0, 0, 0, 0.3); /* Shadow on left and bottom */
}

/* Content Styling */
.projects-content {
    flex:content; /* Text content takes up remaining space */
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: center; /* Center content vertically */
    padding: 20px; /* Padding for the text content */
    text-align: left; /* Align text to the left */
}

/* Content Text */
.projects-content h2 {
    margin-top: 0;
    text-align: left; /* Align text to the left */
}

.projects-content p {
    font-size: 20px;
    text-align: left; /* Align text to the left */
    margin: 0; /* Ensure no additional margins */
}

/* Footer and Social Media Tags */
footer {
    
    padding: 20px 0;
    text-align: center;
    color: #f8f8f8;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Social Media Footer */
.social-footer {
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
}

/* Social Media Icons */
.social-footer .social-icon {
    color: white;
    font-size: 24px; /* Adjust size as needed */
    margin: 0 15px; /* Adjust spacing as needed */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover Effect for Icons */
.social-footer .social-icon:hover {
    color: #ddd;
    transform: scale(1.2); /* Slightly increase size on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .social-footer .social-icon {
        font-size: 20px; /* Smaller size on smaller screens */
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .social-footer .social-icon {
        font-size: 18px; /* Even smaller size on very small screens */
        margin: 0 5px;
    }
}

/* Responsive Design for Navigation */
@media screen and (max-width: 768px) {
    .top-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: none;/*chnge this one*/
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu li {
        width: 100%;
        margin: 0;
    }

    .menu li a {
        width: 100%;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .menu {
        display: none;
    }

    .menu-icon.active + .menu {
        display: flex;
    }

    .dropdown-content {
        position: static;
        min-width: 100%;
        border-radius: 0;
    }

    .dropdown-content li a {
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .search-container input[type="text"] {
        width: 80%;
    }

    .search-container button {
        width: 80%;
    }
}
/* Container for the About Page */
.about1-page {
    max-width: 800px; /* Limit the maximum width of the content */
    margin: 0 auto; /* Center the entire about page content horizontally */
    text-align: start; /* Align text to the left by default */
}

/* Centering the Image */
.about1-image {
    width: 80%; /* Set the image width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Apply border-radius to the image */
    display: block; /* Treat the image as a block element */
    margin: 10px auto; /* Center the image horizontally and add vertical space */
}

/* Text Content Styling */
.about1-content {
    margin-top: 20px; /* Add some space above the content */
    padding-left: 0; /* Ensure no padding on the left */
    margin-left: 0; /* Ensure no margin on the left */
    text-align: left; /* Align text to the left */
}

/* Heading Styling */
.about1-content h2 {
    font-size: 28px; /* Set the font size for the heading */
    margin-bottom: 10px; /* Space below the heading */
    margin-left: 0; /* Ensure the heading starts from the left edge */
}

/* Paragraph Styling */
.about1-content p {
    font-size: 16px; /* Set the font size for paragraphs */
    line-height: 1.6; /* Set the line height for readability */
    margin-bottom: 10px; /* Space below paragraphs */
    margin-left: 0; /* Ensure paragraphs start from the left edge */
    text-align: left; /* Align text to the left */
}


  /*PROJECTS IMAGE IN THAT PROJECT PAGE*/

  .project1-page {
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* Align text to the left */
    padding: 10px;
}

.project1-image {
    width: 100%; /* Make image full width */
    height: auto; /* Adjust height automatically */
    border-radius: 8px;
    margin-bottom: 20px; /* Space between image and text */
}

.project1-content {
    margin-top: 0; /* No extra space at the top */
}

.project1-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.project1-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
/*PROJECTS IMAGE IN THAT PROJECT PAGE*/

.project1-page {
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* Align text to the left */
    padding: 10px;
}

.project1-image {
    width: 100%; /* Make image full width */
    height: auto; /* Adjust height automatically */
    border-radius: 8px;
    margin-bottom: 20px; /* Space between image and text */
}

.project1-content {
    margin-top: 0; /* No extra space at the top */
}

.project1-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.project1-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
/* Suggested Sites Section */
.suggested-sites-section {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* Suggested Image Styling */
.suggested-sites-image {
    width: 96%; /* Adjust width as needed */
    height: 50%; /* Maintain aspect ratio */
    cursor: pointer;
    margin-right: 20px; /* Space between image and text */
    border: 5px solid #333; /* Border color and thickness */
    box-shadow: 30px 40px 30px rgba(0, 0, 0, 0.3); /* Shadow on bottom-right */
}

/* Suggested Content Styling */
.suggested-sites-content {
    flex: content; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    text-align: start; /* Align text to the left */
    cursor: pointer;
    justify-content: right;
    padding: 20px;
}

/* Content Text */
.suggested-sites-content h2 {
    margin-top: 70px;/* Adjust font size as needed */
    text-align: left;
    margin: 70px;
}

.suggested-sites-content p {
    font-size: 20px;
    margin: 0; /* Ensure no additional margins */
    text-align: left;
}
html {
    scroll-behavior: smooth;
}
.project-item {
    margin-bottom: 30px; /* Space between project items */
}

.youtube-downloader {
    margin-top: 30px; /* Space above the YouTube downloader section */
    padding: 20px;
    border: 1px solid #ddd; /* Border around the section */
    border-radius: 8px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
}

.youtube-downloader h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.youtube-downloader p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.youtube-downloader form {
    display: flex;
    flex-direction: column;
}

.youtube-downloader label {
    margin-bottom: 5px;
    font-weight: bold;
}

.youtube-downloader input[type="text"],
.youtube-downloader select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.youtube-downloader button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.youtube-downloader button:hover {
    background-color: #0056b3;
}
#suggested-sites {
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#suggested-sites h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#suggested-sites p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
}

#suggested-sites ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#suggested-sites li {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid #007bff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#suggested-sites li:hover {
    transform: translateX(10px);
}

#suggested-sites a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#suggested-sites a:hover {
    text-decoration: underline;
}

#suggested-sites li p {
    margin-top: 5px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
